.tnav-l {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.shopkart {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 275px;
  color: rgba(255, 255, 255, 1);
}
.tnav-r {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.tnav-r > p {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400px;
  color: rgba(255, 255, 255, 1);
}
.uline {
  margin: auto;
  height: 2px;
  border: 1px solid white;
  margin-top: -22px;
  width: 75%;
  color: white;
}
.smallstar {
  box-sizing: border-box;
  position: absolute;
  width: 21.14px;
  height: 22px;
  left: 482px;
  top: 44px;
}
.bnav {
  width: 83%;
  margin: auto;
  margin-top: 10px;
}
.bnav > ul {
  display: flex;
}
.bnav > ul > p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400px;
  margin-left: 6%;
  cursor: pointer;
}
